
.bod{
    background-image: url('/bg.png');
    background-repeat: no-repeat;
    background-size: cover;      
    background-position: center; 
    background-attachment: fixed; 
    min-height: 100vh;     
    padding-top: 4rem;
    overflow: hidden;
    overflow-y: visible;
}

.head{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
.head p{
    color: aliceblue;
    font-family: 'Inter', sans-serif;
}
.head p:nth-child(1){
    font-size: 3rem;
    font-weight: bold;

}
.head p:nth-child(2){
    font-size: 1.3rem;
    font-weight: 400;
    text-align: center;

}